/**
 * @name krice
 * @version 0.1.0
 * @description dotfiles
 * @author Sharkota
 *
 * @invite none
 */
:root {
	--glass: rgba(0, 0, 0, 0.308);
	--acc-glass: rgba(255, 255, 255, 0.726);
	--app-bg: transparent;
	--accent-saturation: 0%;
	--accent-opacity: 10%;
	--accent-lightness: 0%;
	--sidebar-color: var(--glass);
	--main-content-color: var(--glass);
	--accent-text-color: var(--acc-glass);
}

*{
	font-family: 'comfortaa' !important;
	color: var(--acc-glass);
}

svg{
	color: rgba(255, 255, 255, 0.651) !important;
}

.mention{
	color: var(--acc-glass) !important;
	background-color: var(--glass) !important;
}